container_commands:
  00_install_npm:
    command: |
      if ! which npm > /dev/null; then
        curl -fsSL https://rpm.nodesource.com/setup_18.x | sudo bash -
        sudo yum install -y nodejs
      fi
    leader_only: true

  01_install_npm_dependencies:
    command: "npm install"
    leader_only: true


